.not-found-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: white;

}
.not-found-img{
    width: 400px;
    margin-bottom: 20px;
    height: auto;
    
}
.notfound-text{
    font-size:25px;
    color: black;
}
.btn-neon {
  padding: 12px 32px;
  background: none;
  border: 2px solid #00bfff;
  color: #00bfff;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 2px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
  position: relative;
  overflow: hidden;
}

.btn-neon:hover{
    background: #00bfff;
    color: #0d1b2a;
    box-shadow: 0 0 15px #00bfff, 0 0 30px #00bfff, 0 0 60px #00bfff;
}
